# Build
bin/
obj/

# Visual Studio / VS Code
.vs/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Configurações locais (chaves, secrets)
appsettings.json
appsettings.Development.json
secrets.json
Controllersold

# Pacotes NuGet
*.nupkg
packages/
*.nuget.cache

# Logs
*.log

# Backup / temp
*.bak
*.tmp
